<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/screen.css">
    <link id="agtzfmNzc2ZpZGRsZXIMCxIEUGFnZRjsoggM" rel="stylesheet" type="text/css" href="http://www.webputty.net/css/agtzfmNzc2ZpZGRsZXIMCxIEUGFnZRjsoggM" />
    <script type="text/javascript" src="http://www.webputty.net/js/agtzfmNzc2ZpZGRsZXIMCxIEUGFnZRjsoggM"></script>
  </head>
  <body>
    <div class="header">
      <div class="title">
	<p>{{ page.title }}</p>
      </div>
    </div>
    <div class="content">
      {{ content }}
    </div>
  </body>
<html>
