<!DOCTYPE html>
<html>
<head>
  <title>{{ page.title }}</title>
    <link id="agtzfmNzc2ZpZGRsZXIMCxIEUGFnZRjsoggM" rel="stylesheet" type="text/css" href="http://www.webputty.net/css/agtzfmNzc2ZpZGRsZXIMCxIEUGFnZRjsoggM" />
    <script type="text/javascript" src="http://www.webputty.net/js/agtzfmNzc2ZpZGRsZXIMCxIEUGFnZRjsoggM"></script>
</head>
<body>
  <div class="container">
    <div id="nav" class="nav">
      <nav>
	Welcome to my blog.
      </nav>
    </div>
    <div id="content" class="content">
      <span class="post-title">{{ page.title }}</span>
      {{ content }}
    </div>
  </div>
</body>
